label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** 背景图 */
/* Radio */
.bkg input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('./index.png') no-repeat -24px -10px;
    width: 16px;
    height: 16px;
    outline: none;
    margin: 0 5px;
}

.bkg input[type=radio]:checked {
    background-position-x: -59px;
}

/* Checkbox */
.bkg input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('./index.png') no-repeat -25px -31px;
    width: 16px;
    height: 16px;
    outline: none;
    margin: 0 5px;
}

.bkg input[type=checkbox]:checked {
    background-position-x: -60px;
}

/** 伪元素 */
/* Radio */
.fke input[type=radio] {
    visibility: hidden;
    outline: none;
    width: 16px;
}

.fke input[type=radio]:before {
    content: '\99';
    color: #DBDBDB;
    font-family: 'Wingdings 2';
    font-size: 1.5em;
    line-height: .8em;
    visibility: visible;
}

.fke input[type=radio]:checked:before {
    content: '\38';
    color: #D83C30;
}

/* Checkbox */
.fke input[type=checkbox] {
    visibility: hidden;
    outline: none;
    width: 16px;
}

.fke input[type=checkbox]:before {
    content: '\A3';
    color: #DBDBDB;
    font-family: 'Wingdings 2';
    font-size: 1.5em;
    line-height: .8em;
    visibility: visible;
}

.fke input[type=checkbox]:checked:before {
    content: '\52';
    color: #D83C30;
}
